<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layouts/cliente-layout :: layout (~{::body}, ~{::title})">

<head>
    <title>Cambiar Contraseña</title>
</head>

<body>

<h2 class="mb-4">Cambiar Contraseña</h2>

<form th:action="@{/cliente/perfil/password}" method="post">

    <div class="mb-3">
        <label class="form-label">Contraseña Actual</label>
        <input type="password" class="form-control" name="actual">
    </div>

    <div class="mb-3">
        <label class="form-label">Nueva Contraseña</label>
        <input type="password" class="form-control" name="nueva">
    </div>

    <div class="mb-3">
        <label class="form-label">Confirmar Nueva Contraseña</label>
        <input type="password" class="form-control" name="confirmar">
    </div>

    <button class="btn btn-primary" type="submit">Actualizar</button>
    <a class="btn btn-secondary" th:href="@{/cliente/perfil}">Cancelar</a>

</form>

</body>
</html>
