<!-- templates/fragments/navbar-public.html -->
<header xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
    <div class="main-nav-container">
        <a th:href="@{/}" class="logo">FH</a>

        <ul class="nav-links-main">
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a th:href="@{/productos}">Productos</a></li>
            <li><a href="#caracteristicas">Características</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>

        <div class="header-icons">
            <a th:href="@{/mi-cuenta}" class="header-icon-item">
                <i class="fa-solid fa-user"></i>
                <span>Mi cuenta</span>
            </a>

            <div class="icon-divider"></div>

            <a th:href="@{/carrito}" class="header-icon-item">
                <i class="fa-solid fa-shopping-cart"></i>
                <span>Mi carrito</span>
            </a>
        </div>
    </div>

    <div class="categories-nav">
        <ul class="categories-list">
            <li><a th:href="@{/productos}">Electrónica</a></li>
            <li><a th:href="@{/productos}">Componentes</a></li>
            <li><a th:href="@{/productos}">Audio y Video</a></li>
            <li><a th:href="@{/productos}">Informática</a></li>
            <li><a th:href="@{/productos}">Cámaras</a></li>
            <li><a th:href="@{/productos}">Redes</a></li>
        </ul>
    </div>
</header>
